<?xml version="1.0" encoding="utf-8"?>
<!--
     OpenPF System Configurations
    /usr/apps/org.tizen.ico.homescreen/res/config/system.conf
-->

<systemconfig>
<nodes>
    <node id="0" name="Center">
        <type>Center</type>
        <ipaddress>127.0.0.1</ipaddress>
    </node>
</nodes>

<displays>
    <display id="0" name="Center">
        <node>Center</node>
        <no>1</no>
        <type>center</type>
        <width>1080</width>
        <height>1920</height>
        <layers>
            <layer id="0" name="BackGround">
                <!-- layer type -->
                <!-- 1:background 2:application 3:homescreen 4:interrput application 5:onscreen 101:input 102:touch 103:cursor -->
                <type>1</type>
                <menuoverlap>false</menuoverlap>
            </layer>
            <layer id="1" name="Application">
                <type>2</type>
                <menuoverlap>false</menuoverlap>
            </layer>
            <layer id="2" name="HomeScreen">
                <type>3</type>
                <menuoverlap>false</menuoverlap>
            </layer>
            <layer id="3" name="ControlBar">
                <type>3</type>
                <menuoverlap>false</menuoverlap>
            </layer>
            <layer id="4" name="InterruptApp">
                <type>4</type>
                <menuoverlap>false</menuoverlap>
            </layer>
            <layer id="5" name="OnScreen">
                <layouts>
                    <layout id="1" name="Whole">
                        <areas>
                            <area id="1" name="Full">
                                <type>5</type>
                                <menuoverlap>true</menuoverlap>
                            </area>
                        </areas>
                    </layout>
                    <layout id="2" name="Half">
                        <areas>
                            <area id="1" name="Upper">
                                <type>5</type>
                                <menuoverlap>true</menuoverlap>
                            </area>
                            <area id="2" name="Lower">
                                <type>5</type>
                                <menuoverlap>true</menuoverlap>
                            </area>
                        </areas>
                    </layout>
                </layouts>
            </layer>
            <layer id="6" name="Touch">
                <type>102</type>
                <menuoverlap>false</menuoverlap>
            </layer>
            <layer id="7" name="Cursor">
                <type>103</type>
                <menuoverlap>false</menuoverlap>
            </layer>
        </layers>
        <zones>
            <!-- * zone is mandatory element
                   attribute of "id" is zone id. range of first display zone id is 1...20
                   attribute of "name" is the zone name of any.
                 * geometry is mmandatory element. This geometry values represents the position and size of the zone aria.
                   attribute of "x" represets x position of zone.
                   attribute of "y" represets y position of zone.
                   attribute of "w" represets width of zone.
                   attribute of "h" represets hieght of zone.
                   Special string "dispw" is a value equal the width of the display.
                   Special string "disph" is a value equal the height of the display.
                 * aspect is optional element
                   If attribute of "Fixed" is true, the surface of this zone is fixed aspect ratio.
                   If attribute of "Fixed" is true, attribute of "AlignLeft"/"AlignRight"/"AlignTop"/"AlignBottom" is valid.
                   If attribute of "AlignLeft" is ture, horizontal direction to aligned at the left when maintaining the aspect ratio.
                   If attribute of "AlignRight" is true, horizontal direction to aligned at the right when maintaining the aspect ratio.
                   IF attribute of both "AlignLeft" and "AlignRight" is true, located in the center.
                   If attribute of "AlignTop" is true, vertical direction is aligned at the top when you maintain the aspect ratio.
                   If attribute of "AlignBottom" is true, vertical direction is aligned at the bottom when you maintain the aspect ratio.
                   IF attribute of both "AlignTop" and "AlignBottom" is true, located in the center.
            -->
            <zone id="1" name="Full">
                <geometry x="0" y="64" w="dispw" h="disph-64-128"/>
            </zone>
            <zone id="2" name="Upper">
                <geometry x="0" y="64" w="dispw" h="disph-64-128/2"/>
            </zone>
            <zone id="3" name="Lower">
                <geometry x="0" y="heigh-64-128/2+64" w="dispw" h="disph-64-128/2"/>
            </zone>
            <zone id="4" name="UpperLeft">
                <geometry x="0" y="64" w="dispw/2" h="disph-64-128/2"/>
            </zone>
            <zone id="5" name="UpperRight">
                <geometry x="dispw/2" y="64" w="dispw/2" h="disph-64-128/2"/>
            </zone>
            <zone id="6" name="LowerLeft">
                <geometry x="0" y="heigh-64-128/2+64" w="dispw/2" h="disph-64-128/2"/>
            </zone>
            <zone id="7" name="LowerRight">
                <geometry x="dispw/2" y="heigh-64-128/2+64" w="dispw/2" h="disph-64-128/2"/>
            </zone>
            <zone id="8" name="SysApp">
                <geometry x="0" y="64" w="dispw" h="disph-64-128"/>
            </zone>
            <zone id="9" name="SysApp.Left">
                <geometry x="0" y="64" w="dispw/2-181" h="disph-64-128"/>
            </zone>
            <zone id="10" name="SysApp.Right">
                <geometry x="dispw/2+181" y="64" w="dispw/2-181" h="disph-64-128"/>
            </zone>
            <zone id="11" name="MobileFull">
                <geometry x="0" y="64" w="dispw" h="disph-64-128"/>

                <aspect Fixed="true" AlignLeft="false" AlignRight="false" AlignTop="flase" AlignBottom="false"/>
            </zone>
            <zone id="12" name="MobileUpper">
                <geometry x="0" y="64" w="dispw" h="disph-64-128/2"/>
                <aspect Fixed="true" AlignLeft="false" AlignRight="false" AlignTop="flase" AlignBottom="false"/>
            </zone>
            <zone id="13" name="MobileLower">
                <geometry x="0" y="heigh-64-128/2+64" w="dispw" h="disph-64-128/2"/>
                <aspect Fixed="true" AlignLeft="false" AlignRight="false" AlignTop="flase" AlignBottom="false"/>
            </zone>
        </zones>
    </display>
    <display id="1" name="Mid">
        <node>Center</node>
        <no>0</no>
        <type>meter</type>
        <width>1280</width>
        <height>480</height>
        <layers>
            <layer id="1" name="MainApp">
                <type>2</type>
                <menuoverlap>false</menuoverlap>
            </layer>
            <layer id="2" name="SubDispMainApp">
                <type>2</type>
                <menuoverlap>false</menuoverlap>
            </layer>
            <layer id="3" name="SubDispSubApp">
                <type>2</type>
                <menuoverlap>false</menuoverlap>
            </layer>
        </layers>
        <zones>
            <zone id="21" name="Full">
                <geometry x="0" y="0" w="dispw" h="disph"/>
                <overlap>Left;Right</overlap>
            </zone>
            <zone id="22" name="Left">
                <geometry x="0" y="0" w="320" h="disph"/>
                <overlap>Full</overlap>
            </zone>
            <zone id="23" name="Right">
                <geometry x="960" y="0" w="320" h="disph"/>
                <overlap>Full</overlap>
            </zone>
        </zones>
    </display>
</displays>

<sounds>
    <sound id="0" name="Center">
        <node>Center</node>
        <no>0</no>
        <zones>
            <zone id="0" name="Base"/>
            <zone id="1" name="Full"/>
            <zone id="2" name="Driver"/>
            <zone id="3" name="Passenger"/>
        </zones>
    </sound>
</sounds>

<ports>
    <port id="0" name="AppController">18081</port>
    <port id="1" name="PluseAudio">8088</port>
</ports>

<!-- Application Category name -->
<categorys>
    <category id="1" name="Menu">
        <type>system</type>
        <view>always</view>
        <sound>always</sound>
        <input>always</input>
        <priority>4</priority>
        <r_ctrl>2</r_ctrl>
    </category>
    <category id="2" name="Message">
        <type>message</type>
        <view>always</view>
        <sound>always</sound>
        <input>always</input>
        <priority>5</priority>
        <r_ctrl>2</r_ctrl>
    </category>
    <category id="3" name="Map">
        <type>map</type>
        <view>always</view>
        <sound>always</sound>
        <input>always</input>
        <priority>3</priority>
        <r_ctrl>0</r_ctrl>
    </category>
    <category id="4" name="Driving">
        <type>maker</type>
        <view>run</view>
        <sound>run</sound>
        <input>run</input>
        <priority>2</priority>
        <r_ctrl>0</r_ctrl>
    </category>
    <category id="5" name="CarSetting">
        <type>maker</type>
        <view>parked</view>
        <sound>parked</sound>
        <input>parked</input>
        <priority>2</priority>
        <r_ctrl>0</r_ctrl>
    </category>
    <category id="6" name="Camera.Back">
        <type>maker</type>
        <view>shift_back</view>
        <sound>shift_back</sound>
        <input>shift_back</input>
        <priority>6</priority>
        <r_ctrl>1</r_ctrl>
    </category>
    <category id="7" name="Camera.Left">
        <type>maker</type>
        <view>blinker_left</view>
        <sound>blinker_left</sound>
        <input>blinker_left</input>
        <priority>6</priority>
        <r_ctrl>1</r_ctrl>
    </category>
    <category id="8" name="Camera.Right">
        <type>maker</type>
        <view>blinker_right</view>
        <sound>blinker_right</sound>
        <input>blinker_right</input>
        <priority>6</priority>
        <r_ctrl>1</r_ctrl>
    </category>
    <category id="9" name="Entertainment">
        <type>unknown</type>
        <view>parked</view>
        <sound>parked</sound>
        <input>parked</input>
        <priority>0</priority>
        <r_ctrl>2</r_ctrl>
    </category>
    <category id="10" name="Entertainment.audio">
        <type>unknown</type>
        <view>parked</view>
        <sound>always</sound>
        <input>always</input>
        <priority>0</priority>
        <r_ctrl>1</r_ctrl>
    </category>
    <category id="11" name="Entertainment.visual">
        <type>unknown</type>
        <view>always</view>
        <sound>parked</sound>
        <input>always</input>
        <priority>0</priority>
        <r_ctrl>1</r_ctrl>
    </category>
</categorys>

<appkinds>
    <appkind id="0" name="Almighty">
        <privilege>almighty</privilege>
        <priority>5</priority>
    </appkind>
    <appkind id="1" name="HomeScreen">
        <privilege>system</privilege>
        <priority>4</priority>
    </appkind>
    <appkind id="2" name="SysApp">
        <privilege>system</privilege>
        <priority>3</priority>
    </appkind>
    <appkind id="3" name="SysApp.audio">
        <privilege>system.audio</privilege>
        <priority>3</priority>
    </appkind>
    <appkind id="4" name="SysApp.visiual">
        <privilege>system.visible</privilege>
        <priority>3</priority>
    </appkind>
    <appkind id="5" name="Maker">
        <privilege>maker</privilege>
        <priority>2</priority>
    </appkind>
    <appkind id="6" name="Certificate">
        <privilege>certificate</privilege>
        <priority>1</priority>
    </appkind>
    <appkind id="7" name="UnKnown">
        <privilege>none</privilege>
        <priority>0</priority>
    </appkind>
</appkinds>

<inputs>
    <input id="0" name="DrivingForceGT">
        <switchs>
            <switch id="0" name="JS_UpDown" appid=""/>
            <switch id="1" name="JS_LR" appid=""/>
            <switch id="2" name="JS_Cross" appid="org.tizen.ico.app-soundsample"/>
            <switch id="3" name="JS_Square" appid="org.tizen.ico.homescreen"/>
            <switch id="4" name="JS_Circle" appid="org.tizen.ico.app-soundsample"/>
            <switch id="5" name="JS_Triangle" appid="org.tizen.ico.homescreen"/>
        </switchs>
    </input>
</inputs>

<resource_cpu_control>
    <do_it>app</do_it>
    <ctrl_dir_path>/sys/fs/cgroup/cpu,cpuacct/SCprivate</ctrl_dir_path>
    <sampling_wait>300</sampling_wait>
    <retry_cnt>6</retry_cnt>
    <low_limit_value>30</low_limit_value>
    <high_limit_value>92</high_limit_value>
    <sector id="0" name="groupA">
        <hight_array>
            <item>500</item>
            <item>600</item>
            <item>700</item>
        </hight_array>
        <low_array>
            <item>1000</item>
            <item>500</item>
            <item>600</item>
        </low_array>
    </sector>
    <sector id="1" name="groupB">
        <hight_array>
            <item>300</item>
            <item>250</item>
            <item>200</item>
        </hight_array>
        <low_array>
            <item>1000</item>
            <item>300</item>
            <item>250</item>
        </low_array>
    </sector>
    <sector id="2" name="groupC">
        <hight_array>
            <item>200</item>
            <item>150</item>
            <item>100</item>
        </hight_array>
        <low_array>
            <item>1000</item>
            <item>200</item>
            <item>150</item>
        </low_array>
    </sector>
</resource_cpu_control>

<default>
    <node>Center</node>
    <appkind>UnKnown</appkind>
    <category>Entertainment</category>
    <display>Center</display>
    <layer>Application</layer>
    <displayzone>Full</displayzone>
    <sound>Center</sound>
    <soundzone>Full</soundzone>
    <inputdev>DrivingForceGT</inputdev>
    <inputsw>JS_UpDown</inputsw>
</default>

<transition>none</transition>

<login_user>
    <parent_dir>TZ_USER_HOME/ico</parent_dir>
</login_user>

<vehicle_info>
    <retryCnt>40</retryCnt>
    <waitTime>200</waitTime> <!-- micro srcond -->
    <vinfo id="1" name="VehicleSpeed">
        <objname>VehicleSpeed</objname>
        <property>VehicleSpeed</property>
        <zone>0</zone>
        <type>INT32</type>
    </vinfo>
    <vinfo id="2" name="ShiftPosition">
        <objname>Transmission</objname>
        <property>ShiftPosition</property>
        <zone>0</zone>
        <type>BYTE</type>
    </vinfo>
    <vinfo id="3" name="LeftTurn">
        <objname>LightStatus</objname>
        <property>LeftTurn</property>
        <zone>0</zone>
        <type>BOOLEAN</type>
    </vinfo>
    <vinfo id="4" name="RightTurn">
        <objname>LightStatus</objname>
        <property>RightTurn</property>
        <zone>0</zone>
        <type>BOOLEAN</type>
    </vinfo>
    <vinfo id="5" name="NightMode">
        <objname>NightMode</objname>
        <property>NightMode</property>
        <zone>0</zone>
        <type>UINT32</type>
    </vinfo>
    <vinfo id="6" name="DrivingMode">
        <objname>DrivingMode</objname>
        <property>DrivingMode</property>
        <zone>0</zone>
        <type>UINT32</type>
    </vinfo>
</vehicle_info>

<on_screen_roles>
    <role id="DEFAULT"     state="14003"/>
    <role id="alert"       state="14001"/>
    <role id="attention"   state="14002"/>
    <role id="guide"       state="14003"/>
    <role id="help"        state="14003"/>
    <role id="incoming"    state="14002"/>
    <role id="information" state="14002"/>
    <role id="message"     state="14003"/>
    <role id="warning"     state="14001"/>
</on_screen_roles>

<on_screen_position>
    <x>0</x>
    <y>0</y>
    <w>1080</w>
    <h>1920</h>
</on_screen_position>

</systemconfig>
<!-- vim:set expandtab ts=4 sw=4: -->
