[Desktop Entry]
Name=HomeScreen
Name[en_GB]=HomeScreen
Name[en_US]=HomeScreen
Type=Application
Exec=/opt/apps/org.tizen.ico.homescreen/bin/HomeScreen
Icon=org.tizen.ico.homescreen.png
NoDisplay=false
Version=0.1.0
Comment=home screen app
Hw-Acceleration=use-system-setting
X-TIZEN-Removable=False
X-TIZEN-PkgID=org.tizen.ico.homescreen
