[Desktop Entry]
Name=OnScreen
Type=menu
Exec=/usr/apps/org.tizen.ico.onscreen/bin/OnScreen
Icon=org.tizen.ico.onscreen.png
NoDisplay=false
Version=0.7.0
Comment=onscreen app
Categories=Menu;HomeScreen;run=Center;auto
