Name=sampleMail
Type=Application
Exec=/opt/apps/org.tizen.ico.sample.mail/bin/DummyApp -number=2
Icon=org.tizen.ico.sample.mail.png
NoDisplay=false
Version=0.1.0
Comment=Dummy
