[Desktop Entry]
Name=HomeScreen
Type=menu
Exec=/usr/apps/org.tizen.ico.homescreen/bin/HomeScreen
Icon=org.tizen.ico.homescreen.png
NoDisplay=false
Version=0.7.0
Comment=home screen app
Categories=Menu;HomeScreen;run=Center;noauto
