Name=StatusBar
Type=menu
Exec=/opt/apps/org.tizen.ico.statusbar/bin/StatusBar
Icon=org.tizen.ico.statusbar.png
Nodisplay=True
Version=0.1.0
Comment=status bar app
Categories=Menu;HomeScreen;run=Center;auto
