[Unit]
Description=Ico HomeScreen
Requires=weston.target
After=weston.target

[Service]
ExecStart=/usr/bin/launch_app org.tizen.ico.homescreen &

[Install]
WantedBy=weston.target
