[Unit]
Description=ico system controller
Requires=weston.service
After=weston.service
Wants=ico-device-input-controller.service ico-vic-carsim.service

[Service]
Environment=TIZEN_PLATFORMLOGGING_MODE=1
Environment=TIZEN_DLOG_LEVEL=1
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/dbus/user_bus_socket
ExecStart=/bin/sh -l -c "/usr/apps/org.tizen.ico.system-controller/bin/IcoSysconDaemon --user app"
User=app
